* {
	padding: 0px;
	margin: 0px;

}
.title{
	padding: 5px;
	
}
a{
	text-decoration: none;
}
.nav-p{
	display: flex;
	flex-flow: row wrap;
	background: white;
	padding: 5px 15px;
	box-shadow: 0px 5px 10px rgb(0, 0, 0.2);
	border-radius: 12px; 
		align-items: center;
justify-content: space-evenly;
}
.nav-p li {
	list-style: none;
	margin: 0 10px;
	font-family: 'Poppins',sans-serif;
	align-items: center;

}
.nav-p li a {
	position: relative;
	font-size: 20px;
	color: #333;
	font-weight: 500;
	padding: 6px 0px;
	text-decoration: none;
	align-items: center;
}
.nav-p li a:before{
position: absolute;
content: '';
height: 3px;
width: 100%;
background: royalblue;
bottom: 0;
left: 0;
width: 0%;
transition: all 0.4s ease;
opacity: 90%;
}
.nav-p li a:hover:before{
	width: 100%;
}
#img1{
	border-radius: 50%;
	position: relative;
	right: 70px;
	bottom: 10px;
	padding: 10px;
	margin:10px;
}
.products{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}
.product-i{
	padding: 10px;
	margin: 10px;
	border: none;
	box-shadow: 1px 1px 10px 1px #888;
	border-radius: 10px;
	background-color: white;
	width: 270px;
	height: auto;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#img2{
	padding: 0px;
	margin: 0px;
	width: 240px;
	height: 240px;
}
.cont:hover {
box-shadow: 1px 1px 10px 1px royalblue;
transform:scaleX(1.04);
opacity: 90%;
font-size: 20px;
color: royalblue;
cursor: pointer;
}
.bttn-prodct{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
	border-top: 0.4px solid black;

}
#img3-1{
    padding: 5px;
    margin-bottom: 10px;
	width: 35px;
	height: 30px;
	position: relative;
	top: 10px;
}
#img3-a{
	padding: 5px;
    margin-bottom: 10px;
	width: 35px;
	height: 30px;
	position: relative;
	top: 10px;
	animation-name: imagec;
	animation-duration: 1s;
}
#img3-2-1,#img3-2-2,#img3-2-3,#img3-2-4,#img3-2-5,#img3-2-6,#img3-2-7,#img3-2-8{
    padding: 5px;
    margin-bottom: 10px;
	width: 35px;
	height: 30px;
	position: relative;
	top: 10px;
}
#img3-3{
    padding: 5px;
    margin-bottom: 10px;
	width: 35px;
	height: 30px;
	position: relative;
	top: 10px;

}
#img3-2-1:hover,#img3-2-2:hover,#img3-2-3:hover,#img3-2-4:hover,#img3-2-5:hover,#img3-3:hover,#img3-2-6:hover,#img3-2-7:hover,#img3-2-8:hover{
	box-shadow: 1px 1px 5px 1px royalblue;
	opacity: 80%;
	transform:scale(1.1);
	border-radius: 40%;
	cursor: pointer;
}
#img3-1:hover{
box-shadow: 1px 1px 5px 1px royalblue;
opacity: 80%;
transform:scale(1.1);
border-radius: 40%;
cursor: pointer;
}

.price{
	font-family: Arial, Helvetica, sans-serif;
	font-style: solid;
	/*font-weight: 900;*/
	/* <img src="profile.png" width="30px" height="30px" style=" position: relative;top: 12px;">*/
	font-size: 25px;
	margin-top: 20px;
}
.search-bar{
margin: 0px;
display: flex;
flex-flow: row wrap;
position: relative;
top: 10px;
}
#search{
margin: 0px;
padding: 5px;
width: 350px;
height: 30px;
color: black;
border-radius: 10px;
animation-name: search;
animation-duration: 2s;
font-size: 16px;
}
@keyframes search{
from{
width: 20px;
}
to{
width: 350px
}
}
@keyframes imagec{
	from{
width: 0px;
height: 10px;
	}
	to{
width: 35px;
height: 30px;
	}
}
.share{
	margin: 0 auto;
	position: fixed;
	width: 450px;
	top: 50%; /* تحديد المسافة من الأعلى */
	left: 50%; /* تحديد المسافة من اليمين */
	transform: translate(-50%, -50%);
	height: 150px;
	background-color: white;
	box-shadow: 20px 20px 80px rgb(0, 0, 1);
	border-radius: 20px;
}
.sharebttn{
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
    transform: translate(3%,50%);
	align-content: center;
}
.divs:hover,.divs2:hover,.divs3:hover{
	box-shadow: 1px 1px 10px 1px rgb(0, 0, 1);
	border-radius: 10px;
	transform:scale(1.04);
	opacity: 90%;
	font-size: 20px;
	color: royalblue;
	cursor: pointer;
}
#img5:hover{
	border-radius: 8px;
	transform:scale(1.4);
	opacity: 90%;
	box-shadow: 1px 1px 10px 1px rgb(0, 0, 1);
	cursor: pointer;
}
@media screen and (max-width:800px){
	.sb-i{
	 display: none;
	}
}
.whats{
	margin: 0 auto;
	position: fixed;
	width: 450px;
	top: 50%; /* تحديد المسافة من الأعلى */
	left: 50%; /* تحديد المسافة من اليمين */
	transform: translate(-50%, -50%);
	height: 150px;
	background-color: white;
	box-shadow: 10px 10px 40px rgb(0, 0, 1);
	border-radius: 20px;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}
.foot{
	margin: 0 auto;
	padding: 5px;
	background-color: royalblue;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	width: 60%;
}
.name{
font-family:'Roboto', sans-serif;;
line-height: 1.0;
font-size: 20px;
font-weight: 300;
color: black;
}
